In [8]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
from sklearn.decomposition import PCA 
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [9]:
df = pd.read_csv(
    filepath_or_buffer='https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data', 
    header=None, sep=',')

df.columns=['sepal_len', 'sepal_wid', 'petal_len', 'petal_wid', 'class'] 
print(df.isnull().values.any()) 
df.dropna(how="all", inplace=True) 

# drops the empty line at file-end 

#if inplace = False then we have to assign back to dataframe as it is a copy 
#df = df.some_operation(inplace=False) 

#No need to assign back to dataframe when inplace = True 
#df.some_operation(inplace=True) 

#Print Last five rows
df.tail()

False

     sepal_len  sepal_wid  petal_len  petal_wid           class
145        6.7        3.0        5.2        2.3  Iris-virginica
146        6.3        2.5        5.0        1.9  Iris-virginica
147        6.5        3.0        5.2        2.0  Iris-virginica
148        6.2        3.4        5.4        2.3  Iris-virginica
149        5.9        3.0        5.1        1.8  Iris-virginica

In [10]:
X = df.iloc[:,0:4].values 
y = df.iloc[:,4].values